/* Global Reset and Typography */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #007bff;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    color: #007bff;
}

input[type="text"],
button {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#searchMessage {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #28a745;
}

#patientDetails {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

td {
    background-color: #f8f9fa;
}

button.print-button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.print-button:hover {
    background-color: #218838;
}

.sub button{
    background-color: #28a745;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}
table{
    margin-bottom: 10px;
}